/*Posição dos links*/
.links {
    position: absolute;
    top: 30px;
    right: 40px;
}

/*Decoração dos links*/
.links a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
}

/*Foto da página*/
.foto {
    position: absolute;
    top: 300px;
    right: 900px;
    width: 200px;
    height: 270px;
    border-radius: 150px;
}
/*h1 no main*/
main h1 {
    position: absolute;
    top: 270px;
    right: 770px;
    font-weight: bold;
    font-size: 50px;
}
/*p na class texto*/
.text p {
    width: 450px;
    position: absolute;
    top: 370px;
    right: 410px;
    font-size: 19px;
    font-weight: lighter;
}

.links2 {
    position: absolute;
    top: 560px;
    right: 430px;
}

.links2 a {
    text-decoration: none;
    padding: 25px;
    margin: 5px;
    font-weight: bold;
    font-size: 22px;
    color: midnightblue;
    background-color: orangered;
    border-radius: 20px;
}