/*Posição dos links*/
.links {
    position: absolute;
    top: 30px;
    right: 40px;
}

/*Decoração dos links*/
.links a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
}

/*Foto da página*/
.foto {
    position: absolute;
    top: 300px;
    right: 900px;
    width: 200px;
    height: 270px;
    border-radius: 150px;
}

main h1 {
    position: absolute;
    top: 270px;
    right: 770px;
    font-weight: bold;
    font-size: 50px;
}

.text p {
    width: 450px;
    position: absolute;
    top: 370px;
    right: 410px;
    font-size: 19px;
    font-weight: lighter;
}